In [26]:
import pandas as pd
import geopandas as gpd

In [27]:
# 1iDKvdDhCIgoMOwS7bIRinc2slbh0juDnqsQzfw5r8RM/edit?gid=0#gid=0

In [28]:
SHEET_ID = "1iDKvdDhCIgoMOwS7bIRinc2slbh0juDnqsQzfw5r8RM"   # the long ID in the URL
GID = "0"  # the worksheet/tab gid (in the URL after gid=)

url = f"https://docs.google.com/spreadsheets/d/{SHEET_ID}/export?format=csv&gid={GID}"
df = pd.read_csv(url)

In [29]:
df

,event,date,time,description,location,address,Latitude,Longitude
0,protest,10/23/2025,7:00:00 AM,A couple dozen people gathered to protest the ...,Alameda Coast Guard Island,"Coast Guard Island, Bldg 21, Rm 209, Alameda, ...",37.781998,-122.249082

In [30]:
df.dtypes

event           object
date            object
time            object
description     object
location        object
address         object
Latitude       float64
Longitude      float64
dtype: object

In [31]:
# make date datetime

# df['date'] = pd.to_datetime(df['date'])

In [32]:
# make time datetime, it's 7:00:00 AM

# df['time'] = pd.to_datetime(df['time']).dt.time

In [33]:
df

,event,date,time,description,location,address,Latitude,Longitude
0,protest,10/23/2025,7:00:00 AM,A couple dozen people gathered to protest the ...,Alameda Coast Guard Island,"Coast Guard Island, Bldg 21, Rm 209, Alameda, ...",37.781998,-122.249082

In [34]:
# make it a gdf 

gdf = gpd.GeoDataFrame(
    df, geometry=gpd.points_from_xy(df.Longitude, df.Latitude), crs="EPSG:4326"
)

In [35]:
# export as events.geojson

gdf.to_file("events.geojson", driver="GeoJSON")